$main: #00695c;
$background: #a0d0d8;
$nav-default: white;
$nav-highlight: #ffeb3b;
$shadow: rgba(0, 0, 0, 0.26);

$flash-border: #4771FA;
$flash-bg: #B9C9FF;
$flash-error-main: red;
$flash-error-bg: rgb(255, 180, 180);

$danger: red;
$dark-gray: #a1a1a1;
$darker-gray: #4d4d4d;

$footer-bg: #000064;
$footer-text: white;
$footer-link: yellow;
