<div class="footer">
  <p>A portfolio project by <a href="https://www.brunoparga.net">Bruno Parga</a>
     - view it on <a href="https://www.github.com/brunoparga/words">github</a></p>
</div>
<script src="/js/main.js"></script>
</body>

</html>
